<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= page_title %></title>
    <style>
        td,th{border: 1px solid black;}
    </style>
</head>
<body>
<H1><%= page_title %></H1>
<a href="/Crs/Add">add course</a>
<table>
    <tr>
        <th></th>
        <th>שם קורס</th>
        <th></th>
    </tr>
    <% for(let crs of courses){ %>
        <tr>
            <td>
                <a href="/Crs/Edit/<%= crs.id %>">edit</a>
            </td>
            <td><%= crs.name %></td>
            <td>
                <form action="/Crs/Delete" method="post">
                    <input type="hidden" name="id" value="<%= crs.id %>">
                    <button>
                        מחיקה
                    </button>
                </form>
            </td>
        </tr>
    <% } %>
</table>
</body>
</html>